<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Planetary Shuttle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../css/main.css">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Planetary Shuttle</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="dropdown navbar-right">

            <button class="btn btn-primary" type="button" id="tickOnce">
              Tick
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Mercury 0</a><br>
              <a class="dropdown-item" href="#">Venus 1</a><br>
              <a class="dropdown-item" href="#">Earth 2</a><br>
              <a class="dropdown-item" href="#">Mars 3</a>
            </div>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12" id="axis-div">
          <img src="./img/axis.png" id="axis">
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <h2>Sun</h2>
          <img src="./img/sun.jpg" class="planet-portrait">
        </div>
        <div class="col-md-2">
          <h2>Mercury0</h2>
          <img src="./img/planet1.png" class="planet-portrait">
        </div>
        <div class="col-md-2">
          <h2>Venus1</h2>
          <img src="./img/planet2.png" class="planet-portrait">
        </div>
        <div class="col-md-2">
          <h2>Earth2</h2>
          <img src="./img/planet3.png" class="planet-portrait">
       </div>
        <div class="col-md-2">
          <h2>Mars3</h2>
          <img src="./img/planet4.png" class="planet-portrait">
        </div>
      </div>

      <div class="row">
          <div class="col-md-3">
            <p><strong>Shuttle {{this.shuttle1.id1}}</strong>
            <br>Pickup Location:{{this.shuttle1.pickUpLocation1}} 
            <br>Destination:{{this.shuttle1.destination1}} 
            <br>location: {{this.shuttle1.location1}}  
            <br>velocity: {{this.shuttle1.velocity1}} 
            <br>direction: {{this.shuttle1.direction1}} 
            <br>arrived: {{this.shuttle1.arrived1}} 
            <br>passengers: {{this.shuttle1.passengers1}}
            </p>
          </div>
          <div class="col-md-3">
            <p><strong>Shuttle {{this.shuttle2.id2}}</strong>
            <br>Pickup Location:{{this.shuttle2.pickUpLocation2}} 
            <br>Destination:{{this.shuttle2.destination2}} 
            <br>location: {{this.shuttle2.location2}} 
            <br>velocity: {{this.shuttle2.velocity2}} 
            <br>direction: {{this.shuttle2.direction2}} 
            <br>arrived: {{this.shuttle2.arrived2}} 
            <br>passengers: {{this.shuttle2.passengers2}}
            </p>

          </div>
          <div class="col-md-3">
            <p><strong>Passenger Data:</strong></p>
            {{#each passenger}}
              <p>{{name}},<br>Origin: {{origin}},<br>Direction: {{direction}}</p>
            {{/each}}
          </div>
          <div class="col-md-3">
          <h3>New Passenger</h3>
            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name</label>
                <div class="col-sm-12">
                  <input type="name" class="form-control" id="name" placeholder="Name">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="origin">Origin</label>
                <div class="col-sm-12"> 
                  <input type="origin" class="form-control" id="origin" placeholder="Value 0 to 3">
                </div>
              </div>
              <div class="form-group"> 
                <label class="control-label col-sm-2" for="dir">Direction</label>
                <div class="col-sm-12"> 
                  <input type="dir" class="form-control" id="dir" placeholder="-1 or 1">
                </div>
              </div>
              <div class="form-group"> 
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" id="submitPassenger">Submit</button>
                </div>
              </div>
            </form>


          </div>

      </div>
    </div><!-- /container --> 
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      
      <script src="js/vendor/bootstrap.min.js"></script>

      <script src="js/main.js"></script>
    </body>
</html>
